:root{
    --write: #c7d3de;
    --write-transparent: #c7d3deb8;

    --body-background : #22272e;
    --section-background : #2d333b;

    --body-dark: #22272e;
    --body-darker: #22272e;
    --body-darkest: #1c2128;
    --body-ultra-dark: #14181d;

    --border-color: #474e58;
    /* --text-canari : #65df69; */
    --text-canari : #9074ff;

    --texture-overlay : #474e5804;
    --background-transparent: #9074ffa4;
    --underline-color: #474e58a4;

    /* --write: #fffd;
    --write-transparent: #fff7;

    --body-background : #00264F;
    --section-background : #00264F;

    --body-dark: #001933;
    --body-darker: #001933;
    --body-darkest: #001021;

    --border-color: #002C5C;
    --text-canari : #3698ff;

    --texture-overlay : #002C5C04;
    --background-transparent: #002C5C80;
    --underline-color: #002C5C84; */
}
