:root{
    --write : #fefefeb4;
    --text-canari : #54dae9;
    --texture-overlay : #54dae9b4;
    --border-color: #303030;
    --body-background : #3a3a3a;
    --section-background : #1d1d1d;
    --body-darker: #101010;
    --body-dark: #202020;
    --background-transparent: #30303072;
    --underline-color: #fefefe64;
}
