:root{
    --write :#041120c4;
    --body-background : #fefefe;
    --body-darker: #f6faff;
    --section-background : #fefefe;
    --border-color: #b0cff1;
    --text-canari : #2d66a7;
    --background-transparent: #f6faff72;
}
