:root{
    --write : #31649F;
    --body-background : #f2f9fa;
    --body-darker: #E2F3F6;
    --section-background : #f2f9fa;
    --border-color: #B3C8DB;
    --text-canari : #1090B1;
    --background-transparent: #E2F3F672;
}
