
:root{
    --write: #fffc;
    --write-transparent: #fff7;

    --body-background : #382039;
    --section-background : #382039;

    --body-darker: #200F21;
    --body-dark: #200F21;
    --body-darkest: #1b0d1b;

    --border-color: #5A3D5C;
    --text-canari : #F638DC;
    --texture-overlay : #5A3D5C36;
    --background-transparent: #5A3D5C80;
    --underline-color: #5A3D5C64;
}
