/* :root{
    --write: #fffc;
    --body-background : #2a2c39;
    --body-darker: #1d202c;
    --body-dark: #1d202c;
    --section-background : #242734;
    --border-color: #3b3d49;
    --text-canari : #f86af8;
    --texture-overlay : #f86af8b4;
    --background-transparent: #3b3d4932;
    --underline-color: #c3c6d464;
} */
:root{
    --write: #fffc;
    --body-background : #2F2052;
    --body-darker: #271B44;
    --body-dark: #271B44;
    --section-background : #372560;
    --border-color: #7050BB;
    --text-canari : #8fdf5d;
    --texture-overlay : #7050BBb4;
    --background-transparent: #7050BB32;
    --underline-color: #7050BB64;
}
