// $test-dark : #ECE8D9e4;
$jumbo-height : 44vw;

#test {

    .section {
        border-color: var(--border-color);
        display: flex;

        h1,
        h2,
        h3 {
            color: var(--write);
            text-align: start;
            transform-origin: left;
        }

        h1{
            display: flex;
            margin: 3rem 0;
            word-spacing: 1rem;
        }

        h1 span {
            font-size: 4.4vw;
            letter-spacing: 0.26vw;
            font-family: 'GTWalsheim Bold',sans-serif;
        }

        h3 {
            font-size: 0.96vw;
            font-weight: 300;
            font-family: $font-primary-light;
            letter-spacing: 0.032rem;
            color: var(--write);
            width: 72%;
            line-height: 2.2rem;

            i {
                color: var(--write);
            }
        }


        .section-heading {
            text-transform: capitalize;
        }

    }

    .section {
        &__body {
            @include flex-between-start;
            transition: 0.8s ease all;
            flex-direction: column;
            width: 100%;
            background-color: var(--section-background);
            z-index: 10;

            .flap {

                display: grid;
                grid-template-columns: 0.54fr 0.46fr;
                min-height: 100%;
                width: 100%;

                &__left {
                    height: $jumbo-height;
                    display: grid;
                    grid-template-rows: 0.64fr 0.20fr;
                    &__content,&__heading{
                        width: 80%;
                        margin:auto;
                    }
                    &__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }

                    &__heading {
                        @include flex-evenly-start;
                        flex-direction: column;
                    }
                }

                &__right {
                    display: flex;
                    justify-content: flex-end;
                    height: $jumbo-height;
                    &__content {
                        @include flex-center-center;
                        overflow: hidden;
                        width: 100%;

                        img {
                            object-fit: cover;
                            overflow: hidden;
                            border-radius: 100%;
                            transform-origin: right;
                            // background-color: var(--background-transparent);
                            background-color: var(--body-darker);
                            width: 74%;
                            height: auto;
                            margin: auto;
                            aspect-ratio: 1/1;
                            object-position: center;
                            outline: 1px solid var(--border-color);
                            padding: 1.6vw;
                            filter: brightness(1.12);
                        }
                    }
                }
            }
        }

    }

    .section.banner {
        height: $jumbo-height;
    }


}

@media screen and (max-width:1600px) {

    #test {
        .section {
            h1 {
                font-size: 5.2vw;
                margin: 2.4rem 0;
            }

            h3 {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:1200px) {

    #test {
        .section {

            h1 {
                font-size: 4.8vw;
                margin: 2vw 0 2.8vw;
            }

            h2 {
                font-size: 24px;
            }

            h3{
                font-size: 13.5px;
                line-height: 1.6rem;

            }
            &__header{
                height: 520px;

            }

            &__body {
                .flap {
                    grid-template-columns: 1fr 1fr;
                    &__left,&__right{
                        height: 520px;
                    }
                }
            }
        }
        .section.banner{
            height: 520px;
        }

    }

}

@media screen and (max-width:800px) {

    #test .section.banner {
        height: auto;
    }

    #test .section {
        *{
            text-align: center;
        }
        h1 {
            margin: 1rem 0;
            span{
                font-size: 9.6vw;
            }
        }

        h3 {
            text-align: center;
            font-family: $font-primary-light;
            line-height: 1.72rem;
        }


    }


    #test .section__body {
        padding: unset;
        height: auto;

        .flap {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: unset;

            &__left,
            &__right {
                height: 100vw;
            }

            &__left__content,
            &__left__heading {
                align-items: center;
                width: 100%;
                grid-gap: 2vw;
                .widget{
                    display: flex;
                    justify-content: center;
                }
            }

            &__right {
                justify-content: center;
                max-width: 100vw;
                overflow: hidden;
                &__content {
                    img {
                        width: 78%;
                        height: auto;
                        padding: 3.6vw;
                        outline: unset;
                        border: 1px solid var(--border-color);
                    }
                }
            }

            &__left {
                grid-template-rows: 0.8fr 0.2fr;
                padding: 1.2rem;
            }
        }
    }

    #test {
        .carousel {
            z-index: 100;
        }
    }



}