button{
    cursor: pointer;
}

// wordpress button

.wp-block-button__link {
    border: 2px solid var(--border-color);
    background-color: transparent;
    border-radius: unset;
    color: var(--write);
    padding: 1rem;
    min-width: 160px;
    transition: 0.48s ease-in;
    display: flex;
    align-items: center;
    svg {
        width: 24%;
        display: flex;
        align-items: center;
    }

    path,
    svg {
        transition: 0.48s ease-in;
    }

    &:hover {
        background-color: var(--body-background);

        svg path {
            fill: #fff;
        }
    }
}

.cta {
    // box-shadow:1px 1px 1px 0px var(--texture-overlay),-1px -1px 1px 0px var(--texture-overlay);
    // box-shadow: 1px 1px 1px var(--write);
    border: 1px solid var(--border-color);
    background-color: var(--background-transparent);
    width: fit-content;
    padding: 1.92rem;
    border-radius: 48px;
    @include flex-center-center;
    z-index: 100;
    span {
        font-family: $font-primary-light;
        color: var(--write-transparent);
        font-size: 1.0vw;
        letter-spacing: 0.048rem;
        backface-visibility: visible;
    }

    &:hover {
        background-color: var(--section-background);

        svg path {
            stroke: var(--write);
        }
    }

    svg {
        width: 16px;
        height: 16px;

        path {
            stroke: var(--write);
        }
    }
}


.menu-content__header,
.top-menu__left .burger-item__body {
    button {
        margin: auto 0.5rem;
        min-height: 32px;
        width: 32px;
        background-color: var(--body-darkest);
        font-size: 18px;
        color: var(--write);
        text-align: center;
        border-radius: 50%;
        border:3px double var(--border-color);
        display: flex;
        align-items: center;
    }

    i {
        margin: auto;
    }
}

@media screen and (max-width:1600px) {

    .wp-block-button__link {
        font-size: 16px;
        padding: 0.75rem;
        min-width: 140px;
    }

    #test {
        .cta {
            padding: 1.56rem;
            font-size: 15px;
        }
    }

}


@media screen and (max-width: 1200px) {

    #test .cta {
        padding: 1.2rem;

        span {
            font-size: 14px;
        }
    }

}


@media screen and (max-width:780px) {

    .wp-block-button__link {
        font-size: 14px;
    }

    .cta{
        outline: unset;
    }

}