/* card projet */

.project-card {
    margin: auto;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;

    &__header {
        display: flex;
        width: 100%;
        position: relative;
        background-color: var(--section-background);
        overflow: hidden;
        height: 24vw;  
        img {
            max-width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            box-sizing: border-box;
            object-fit: cover;
            width: auto;
            margin: auto;
        }
    }

    &__body,
    &__footer {
        height: 6.4vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    &__body {
        align-items: center;

        h3 {
            color: var(--text-canari);
            font-size: 22px;
            font-family: $font-primary-light;
            font-weight: 100;
        }
    }

    &__footer,
    &__footer a {
        color: var(--write);
        font-family: $font-primary-light;
        font-style: italic;
    }
}

/* card skills */

.skill-card {
    height: 100%;
    display: none;
    &__content {
        width: 64%;
        background-color: var(--body-darker);
        border: 1px solid var(--border-color);
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        transition: 0.4s ease all;
        &__header {
            text-align: center;
            display: flex;
            height: $cards-height;

            img {
                width: 100%;
            }
        }

        &__body {
            min-height: $cards-height;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: $font-primary-light;

            h3 {
                margin: 0.75rem 0 0;
                text-transform: uppercase;
                font-size: 0.7vw;
                letter-spacing: 0.12rem;
            }

            hr {
                margin: 0.2rem 0 1rem;
                @include linear-hr;
            }

            p {
                font-family: $font-primary-light;
                font-size: 0.88vw;
                line-height: 1.56rem;
                text-align: justify;
            }
            i{
                color:var(--text-canari);
            }
        }
    }
}

.skill-card.active {
    display: flex;
}

@media screen and (max-width:1600px) {

    .skill-card__content__body{
        p{
            font-size: 0.96vw;
        }
        h3{
            font-size: 11.5px;
        }
    }

}

@media screen and (max-width:1200px) {

    .skill-card{
        &__content{
            width: 76%;
        }
    }

    .skill-card__content__body p {
        font-size: 1vw;
        line-height: 1.04rem;
    }

}

@media screen and (max-width: 800px){

    .skill-card{
        &__content{
            &__header,&__body{
                height: 32vh;
                p{
                    font-size: 11.5px;
                    line-height: 1.32rem;
                }
            }
        }
    }

    .project-card{
        justify-content: center;
        text-align: center;  
        &__header,&__body,&__footer{
            justify-content: center;
            
        }
        &__header{
            height: 40vh;
        }  
    }

}
