/* card projet */

.project-card {
    margin: auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0rem;
    padding: 2rem;
    place-items: center;
    background-color: var(--section-background);
    >a{
        width: 100%;
    }

    &__header {
        display: flex;
        width: 100%;
        position: relative;
        perspective: 1000px;
        overflow: hidden;
        img {
            position: relative;
            display: flex;
            box-sizing: border-box;
            object-fit: cover;
            margin: auto;
            transform: rotateY(-16deg) scaleY(0.92);
            transition: 0.2s ease;
        }
        &:hover{
            img{
                transform: unset;
            }
        }
    }

    &__body,&__footer{
        height: 5.6vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a{
            @include flex-center-center;
            color: var(--write);
            font-family: $font-primary-light;
            font-style: italic;
        }
    }

    &__footer{
        height: 3.6vw;
        color:var(--text-canari);
    }


    &__link{
        border:1px solid var(--write);
        border-radius: 32px;
        display: flex;
        padding: 0.5rem 0.75rem;
        width: max-content;
    }

}

/* card skills */

.skill-card {
    height: 100%;
    display: none;
    &__content {
        width: 64%;
        background-color: var(--body-darker);
        border: 1px solid var(--border-color);
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        transition: 0.4s ease all;
        &__header {
            text-align: center;
            display: flex;
            height: $cards-height;

            img {
                width: 100%;
            }
        }

        &__body {
            min-height: $cards-height;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: $font-primary-light;

            h3 {
                margin: 0.75rem 0 0;
                text-transform: uppercase;
                font-size: 0.7vw;
                letter-spacing: 0.12rem;
            }

            hr {
                margin: 0.2rem 0 1rem;
                @include linear-hr;
            }

            p {
                font-family: $font-primary-light;
                font-size: 0.88vw;
                line-height: 1.56rem;
                text-align: justify;
            }
            i{
                color:var(--text-canari);
            }
        }
    }
}

.skill-card.active {
    display: flex;
}

@media screen and (max-width:1600px) {

    .skill-card__content__body{
        p{
            font-size: 0.96vw;
        }
        h3{
            font-size: 11.5px;
        }
    }

}

@media screen and (max-width:1200px) {

    .skill-card{
        &__content{
            width: 76%;
        }
    }

    .skill-card__content__body p {
        font-size: 1vw;
        line-height: 1.04rem;
    }

}

@media screen and (max-width: 800px){

    .skill-card{
        &__content{
            border:unset;
            display: flex;
            flex-direction: column;
            &__header,&__body{
                min-height: 36vw;
                p{
                    font-size: 11px;
                    line-height: 1.32rem;
                }
            }
            &__header{
                min-height: 48vw;
            }

        }
    }

    .project-card{
        justify-content: center;
        text-align: center;  
        &__header,&__body,&__footer{
            justify-content: center;
        }
        &__body{
            height: 20vw;
        }

        &__footer{
            height: 16vw;
        }


        &__link{
            a{
                font-size: 11px;
            }
        }
    }

}
