@media (pointer: fine) {
    * {
        cursor: none;
    }
}

* {
    cursor: none;
}

@media (pointer: none),
(pointer: coarse) {

    #rjs_cursor,
    #rjs_cursor .rjs-cursor-icon {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }

    * {
        cursor: auto !important;
    }
}

.rjs-cursor {
    width: 14px;
    height: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    transition: none;
}

.rjs-cursor-icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(185, 185, 185, 0.1);
    border:1px solid var(--text-canari);
}

.rjs-cursor.rjs_cursor_visible {
    opacity: 1;
}

.rjs-cursor.rjs_cursor_hidden {
    opacity: 0;
}

.rjs-cursor-icon {
    transition: all 0.2s ease;
    transform-origin: 50% 50%;
}

.rjs-cursor.rjs_cursor_hover .rjs-cursor-icon {
    transform: scale(7.2);
    border-color:transparent;
}

.rjs-cursor.rjs_cursor_hover_input{
    height: 22px;
}

.rjs-cursor.rjs_cursor_hover_input .rjs-cursor-icon{
    border-color:var(--text-canari);
    border-radius: 0;
    width: 1px;
}

/* Hover effects */

.rjs-cursor.rjs_cursor_hover .rjs-cursor-icon::after {
    opacity: 0;
    transform: scale(100);
}