/* headings */

// large page heading 

.large-heading {
    padding: 1rem;

    h1 {
        color: var(--write);
        font-weight: normal;
        font-size: 92px;
    }

}

.menu-content h2,
.section-heading {
    font-size: 2.4vw;
    font-family: 'GTWalsheim Medium', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
}

#test {
    .section {

        h1,
        h2,
        h3 {
            color: var(--write);
            text-align: start;
            transform-origin: left;
        }

        h1 {
            display: flex;
            margin: 3rem 0;
            word-spacing: 0.84rem;
            font-size: 4.2vw;
            letter-spacing: 0.20vw;
            font-family: 'GTWalsheim Bold', sans-serif;
        }


        h3 {
            font-size: 0.96vw;
            font-weight: 300;
            font-family: $font-primary-light;
            letter-spacing: 0.032rem;
            color: var(--write);
            width: 80%;
            line-height: 2.2rem;

            i {
                color: var(--write);
            }
        }
    }
}

#test {
    .splide {
        &__header {
            .section-heading {
                height: 10vw;
                @include flex-center-center;
            }
        }
    }
}

.project-card{
    &__body {
        h3 {
            color: var(--text-canari);
            font-size: 22px;
            font-family: $font-primary-light;
            font-weight: 100;
        }
    }
}



@media screen and (max-width:1600px) {

    .large-heading h1 {
        font-size: 68px;
    }

    .section-heading {
        font-size: 32px;
    }

    #test {
        .section {
            h1 {
                font-size: 5.2vw;
                margin: 2.4rem 0;
            }

            h3 {
                font-size: 15px;
            }
        }
    }

}

@media screen and (max-width:1200px) {

    #test {
        .section {
            h1 {
                font-size: 4.8vw;
                margin: 2vw 0 2.8vw;
            }

            h2 {
                font-size: 24px;
            }

            h3 {
                font-size: 13.5px;
                line-height: 1.6rem;

            }
        }
    }

}


@media screen and (max-width:780px) {

    .large-heading h1 {
        font-size: 54px;
    }

    .section-heading {
        font-size: 24px;
    }

    #test {
        .section {
            h1 {
                margin: 1rem 0;
                font-size: 9.6vw;
            }

            h3 {
                text-align: center;
                font-family: $font-primary-light;
                line-height: 1.72rem;
            }
        }
    }

    #test {
        .splide {
            &__header {
                .section-heading {
                    height: 32vw;
                }
            }
        }
    }
    .project-card{
        &__body {
            h3 {
                font-size:16px;
            }
        }
    }

}