.test-tooltip{
    font-family: "ArcadeClassic";
    border-radius: 32px;
    border:1px solid var(--text-canari);
    background-color: var(--body-background);
    color:var(--text-canari);
    padding:1rem;
    margin:1rem;
}