#autoslide {
    min-height: 80vh;
    background-color: var(--body-darker);
}

.autoslide {
    &__body {
        display: grid;
        grid-template-rows: 1fr 1fr;

        &__top,
        &__bottom {
            min-height: 40vh;
            overflow-x: hidden;
            width: 100%;

            .scrolling-frame {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                place-items: center;
                height: 100%;
                width: 200%;
                &__item {
                    color: var(--write);
                    font-family: $font-primary-light;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    span{
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        border: 1px solid var(--border-color);
                        @include textured-background-subtle;
                        border-radius: 32px;
                        width: 60%;
                        margin:auto;
                        text-transform: capitalize;
                        &::before{
                            content:'#';
                            position: relative;
                            color:var(--write);
                        }
                    }
                }
            }
        }


        &__bottom {
            // border: 1px solid blue;
            .scrolling-frame{
                transform: translate(-50%, 0);
            }
        }
    }

}

@media screen and (max-width:780px) {

    #autoslide{
        min-height: 44vh;
    }

    .autoslide{
        &__body{
            &__top,&__bottom{
                .scrolling-frame{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    width: 100%;
                    transform: unset;
                    &__item{
                        span{
                            font-size: 10.75px;
                            padding: 0.64rem;
                        }
                    }
                    &__item:nth-child(3),&__item:nth-child(7),
                    &__item:nth-child(4),&__item:nth-child(8){
                        display: flex;
                        justify-content: flex-start;
                        span{
                            color: var(--text-canari)!important;
                            margin:auto 2rem;
                        }
                    }
                    &__item:nth-child(1),&__item:nth-child(5),
                    &__item:nth-child(2),&__item:nth-child(6){
                        display: flex;
                        justify-content: flex-end;
                        span{
                            color: var(--text-canari)!important;
                            margin:auto 1rem;
                        }
                    }
                }
            }
        }
    }

}