#autoslide {
    min-height: 24vw;
    background-color: var(--body-darkest);
}

.autoslide {
    &__body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        border-top:1px solid var(--border-color);

        &__top,
        &__bottom {
            min-height: 12vw;
            overflow-x: hidden;
            width: 100%;

            .scrolling-frame {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                place-items: center;
                height: 100%;
                width: 200%;
                &__item {
                    color: var(--write);
                    font-family: $font-primary-light;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    span{
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        border: 1px solid var(--border-color);
                        @include textured-background-subtle;
                        border-radius: 32px;
                        width: 60%;
                        margin:auto;
                        text-transform: capitalize;
                        font-size: 0.94vw;
                        &::before{
                            content:'#';
                            position: relative;
                            color:var(--write);
                        }
                    }
                }
            }
        }


        &__bottom {
            .scrolling-frame{
                transform: translate(-50%, 0);
            }
        }
    }

}

@media screen and (max-width:780px) {

    #autoslide{
        display: none;
    }


}