.footer {
    height: 22.5vw;
    @include border-top;
    @include flex-center-start;
    background-color: var(--body-darkest);

    &__header {
        position: absolute;
        width: 100%;
        display: flex;

        .frame {
            border: 3px double var(--border-color);
            background-color: var(--body-darker);
            border-radius: 50%;
            width: 3.8vw;
            height: 3.8vw;
            margin: auto;
            transform: translate(0, -50%);
            color: var(--write);
            display: flex;
            transition: 0.32s ease-in;
            cursor: pointer;
            &:hover {
                background-color: var(--border-color);
                svg {
                    path {
                        stroke: var(--text-canari) !important;
                    }
                }
            }

            svg {
                transition: 0.32s ease-in;
                margin: auto;
                path {
                    stroke: var(--write);
                }


            }
        }
    }

    &__body {
        margin: auto;

        p {
            color: var(--write);
            font-family: $font-primary-light;
            font-size: 0.88vw;
            letter-spacing: 0.024rem;
        }

        &__top,
        hr {
            display: none;
        }
    }
}

@media screen and (max-width:1600px) {
    .footer {
        p {
            font-size: 13px;
        }
    }
}

@media screen and (max-width:1200px) {
    .footer {
        &__header {
            .frame {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .footer {
        @include no-margin-side;
        height: 84vw;

        p {
            font-size: 12px;
        }

        &__header {
            .frame {
                width: 72px;
                height: 72px;
            }
        }

        &__body {
            grid-gap: 2rem;
            display: flex;
            flex-direction: column;

            &__top,
            hr {
                display: block;
            }

            hr {
                @include linear-hr;
                width: 72%;
                margin: auto;
            }

            &__top {
                .social-media {
                    &__body {
                        justify-content: space-evenly;

                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}