#header {
    display: block;

    #navigation {
        display: flex;
        // justify-content: space-between;
        // justify-content: flex-start;
        justify-content: center;
        margin: auto;
        height: 12vh;
        width: 100%;
        border-bottom: 1px solid var(--border-color);

        #menu-desktop-top-menu {
            min-width: 48vw;
            display: flex;
            justify-content: space-evenly;

            li {
                margin: auto;
                display: flex;
                height: 100%;
                width: 100%;
                transition: 0.32s ease-in;

                a {
                    color: var(--write);
                    @include flex-center-center;
                    @include font-roboto-item;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        background-color: var(--section-background);
                    }
                }


            }

            li.special-active {
                border-bottom: 1px solid var(--text-canari);
            }

            li.special-active {
                background-color: var(--section-background);

                a {
                    font-family: $font-primary;
                }
            }
        }

        .custom-logo-link {
            display: flex;
            margin: 1rem 2.4rem;
            align-items: center;

            img {
                width: auto;
                height: 100%;
                filter: opacity(0.92) sepia(1) brightness(0.5);
            }

        }
    }

    .navbar-appendice {
        background-color: var(--body-darker);
        color: var(--write);
        width: 100%;
        margin: auto;
        padding: 0.5rem;
        display: flex;
        justify-content: center;

        p {
            font-family: $font-primary-light;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 0.048rem;
            font-variant: all-small-caps;
        }
    }

    #portrait {
        display: flex;
        position: absolute;
        border: 3px double var(--border-color);
        width: 10vw;
        height: 10vw;
        z-index: 999;
        overflow: hidden;
        top: 3.2%;
        border-radius: 50%;
        right: 2%;
        display: none;

        img {
            width: 100%;
            height: 100%;
            margin: auto;
            object-fit: cover;

            object-position: -14px 10px;
            /* border: 3px double var(--border-color); */
            aspect-ratio: 1/1;
            position: relative;
            /* z-index: 999; */
            /* border-radius: 24%; */
            background: var(--body-darker);
            filter: grayscale(0.92) sepia(0.6) brightness(1.24) opacity(1) saturate(0.2);
            left: 0;
            top: 0;
            /* zoom: 2; */
            box-sizing: border-box;
            transform: scale(2);
            transform-origin: center;
        }
    }
}

#header.navbar-fixed {
    // border:4px solid red;
    @include no-margin-side;
    position: fixed;
    z-index: 999;
    width: 100%;

    #navigation {
        height: 8vh;
    }
}


@media screen and (max-width:800px) {

    #header {
        @include no-margin-side;
        display: none;
        #navigation {
            width: 100%;
            justify-content: center;
            height: 4.4vh;

            #menu-desktop-top-menu {
                min-width: unset;
                width: 100%;

                li {
                    a {
                        font-size: 11px;
                    }

                }

                li:nth-child(1) {
                    a {
                        border-left: unset;
                    }
                }

                li:last-child {
                    a {
                        border-right: unset;
                    }
                }
            }

            .custom-logo-link {
                display: none;
            }
        }
    }

    #header.navbar-fixed {
        width: auto;
        right: 0;
        #navigation {
            height: auto;
            #menu-desktop-top-menu{
                height: 100vh;
                flex-direction: column;
                li{
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    a{
                        text-orientation: sideways;
                        writing-mode: vertical-lr;
                        height: fit-content;
                    }
                }
                li.special-active{
                    border-bottom: unset;
                    a{
                        color: var(--text-canari);
                    }
                }
            }
        }
    }

}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 

    #header.navbar-fixed {
        #navigation {
            #menu-desktop-top-menu{
                li{
                    width: auto;
                    a{
                        width: fit-content;
                    }
                }
            }
        }
    }

}
