.intersection{
    background-image:url('./assets/textures/black-thread.png');
    min-height: 9.6vh;
    background-color: var(--texture-overlay);
    background-blend-mode: multiply;
    background-position: top;
}

@media screen and (max-width:800px) {
    
    .intersection{
        min-height: 7.2vh;
    }

}