.large-text-banner {
    display: grid;
    place-items: center;
    @include border-top;
    @include textured-background-dark;
    .section-heading,
    p,
    span {
        color: var(--write);
    }

    p,span{
        font-family: $font-primary-light;
    }


    &__header {
        width: 36%;
        height: $section-height-tiny;
        @include flex-evenly-center;
        flex-direction: column;
        hr {
            width: 44%;
            @include linear-hr;
        }
    }

    &__body {
        width: 52%;
        height: $section-height-mini;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            line-height: 1.96rem;
            text-align: justify;
        }
    }

    &__footer {
        height: $section-height-tiny;
        display: grid;
        grid-template-rows: 0.4fr 1fr;
        place-content: center;
        place-items: center;
        span{
            font-size: 0.96vw;
            text-transform: capitalize;
            letter-spacing: 0.040rem;
            color:var(--text-canari);
        }
        .frame{

            height: 3.2vw;
            width: 2vw;
            border:1px solid var(--border-color);
            border-radius: 24px;
            padding: 8px;
            display: flex;
            justify-content: center;
            .container{
                display: flex;
                height: 2vw;
                background-color: var(--border-color);
                width: 1px;
            }
            #vertical-stroke{
                background-color:var(--text-canari);
                border-radius: 16px;
                width: 1px;
                height: 1vw;
                animation: scrollDown 3s ease-in-out  infinite forwards;
            }
        }
    }

}

@media screen and (max-width:1600px) {

    #test{
        .large-text-banner{
            &__footer{
                .frame{
                    height: 56px;
                    width: 32px;
                    .container{
                        height: 36px;
                    }
                    #vertical-stroke{
                        height: 18px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width:1200px) {


    #test{
        .large-text-banner{
            &__body{
                height: 320px;
            }
            &__header,&__footer{
                height: 160px;
            }
            &__footer{
                span{
                    font-size: 11.5px;
                }
            }
        }
    }

}

@media screen and (max-width:800px) {
    #test{
        .large-text-banner{
            .section-heading{
                text-align: center;
            }
            &__body{
                height: 120vw;
                width: 80%;
            }
            &__header{
                width: 64%;
                height: 40vw;
            }
            &__footer{
                height: 40vw;
                grid-template-rows: 0.5fr auto;
            }
        }
    }
}