#mosaic {
    @include border-top;
    height: auto;
}

.mosaic {
    background-color: var(--body-darkest);
    color: var(--write);

    &__body {
        .grid {
            display: grid;
            padding: 2rem;
            &__row {
                width: auto;
                height: fit-content;
                display: flex;
                .item {
                    &__body {
                        height: 24vw;
                        width: 24vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &__one,
                &__two,
                &__three,
                &__four {
                    // border: 4px solid red;
                    display: grid;
                    margin: auto;
                    // width: fit-content;
                    // grid-gap:2rem;
                    place-items: center;
                }

                &__one {
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                    .item {
                        &__body {
                            img {
                                width: 24vw;
                                height: 24vw;
                            }

                        }
                    }
                }

                &__two {
                    grid-template-columns: repeat(2, 1fr);

                    .item {
                        &__body {
                            width: 36vw;
                            // height: 36vw;
                        }
                    }
                }

                &__three {
                    grid-template-columns: repeat(3, 1fr);
                }

                &__four {
                    grid-template-columns: repeat(4, 1fr);

                    .item {
                        &__body {
                            width: 18vw;
                            height: 18vw;
                        }
                    }
                }
            }
        }
    }
}