.theme-picker {
    position: fixed;
    z-index: 999;
    margin: 2%;
    height: auto;
    padding: 1rem;
    background: var(--body-darker);
    border-radius: 32px;
    bottom: 0;
    right: 0;
    width: 16%;
    border: 4px double var(--border-color);
    box-shadow: 0px 0px 1px 1px var(--write), 0px 0px 1px 0px var(--write);
    transition: 0.48s ease-in;
    margin: 2.25%;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-family: $font-primary-light;
            color: var(--write);
            font-weight: 500;
            font-size: 0.96vw;
        }

        svg {
            width: 16px;
            height: auto;
            fill: var(--write);
            transform: rotate(45deg) scale(0.84);
        }
    }


    input,
    select,
    option {
        font-family: $font-primary-light;
        color: var(--write);
        background-color: var(--body-darker);
    }

    form {
        display: flex;
        flex-direction: column;

        input,
        select {
            min-height: 2.8vh;
            margin: 0.5rem 0;
        }
    }

    .form-control {
        font-family: $font-primary;
        font-size: 18px;
        line-height: 1.1;
        color: var(--write);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .form-control+.form-control {
        margin-top: 1em;
    }

    .form-control:focus-within {
        color: var(--text-canari);
    }

    fieldset {
        display: grid;
        border: unset;

        div {
            height: 3.2vw;
            display: flex;
            align-items: center;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--body-background);
        margin: 0;
        font: inherit;
        width: 1.6vw;
        height: 1.6vw;
        border: 2px double var(--border-color);
        border-radius: 50%;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
    }

    input[type="radio"]::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--text-canari);
        background-color: var(--body-background);
    }

    input[type="radio"]:checked::before {
        transform: scale(1);
    }

    input[type="radio"]:focus {
        outline: max(2px, 0.04em) solid var(--text-canari);
        outline-offset: max(2px, 0.04em);
    }

}

#theme-picker.small-window {
    opacity: 0.48;

    .theme-picker__heading {
        svg {
            transform: rotate(-180deg);
        }
    }
}


@media screen and (max-width:1600px) {

    #theme-picker {
        border: 3px double var(--border-color);
        box-shadow: 0px 0px 0.5px 0.5px var(--write), 0px 0px 0.5px 0px var(--write);
        min-width: 20%;

        .form-control {
            font-size: 15px;
            line-height: 1;
        }

        input[type="radio"] {
            width: 28px;
            height: 28px;
            border: 1.5px double var(--border-color);
        }

        input[type="radio"]::before {
            width: 10px;
            height: 10px;
        }
    }

    .theme-picker {
        &__heading {
            h3 {
                font-size: 15px;
            }
        }
        fieldset{
            div{
                height: 3.4vw;
            }
        }
    }

}

@media screen and (max-width:800px) {

    #theme-picker {
        margin: 1rem;
        padding: 0.75rem;
        border-radius: 28px;
        width: -webkit-fill-available;
        border: 1px solid var(--border-color);
        right: unset;
        transition: 0.48s ease-in;

        h3 {
            font-size: medium;
        }
        fieldset{
            div{
                height: 8.4vw;
            }   
        }
    }

    #theme-picker.small-window {
        width: 38%;

        svg {
            display: none;
        }
    }


}