$font-primary:'Roboto';
$font-primary-light:'Roboto Light';
$font-secondary:'Glitten';


// $primary : #1E3F3A;
// var(--write) : #102226;
// var(--body-background) : #2a2c39;
// var(--body-darker): #1d202c;
// var(--section-background) : #242734;
// var(--border-color): #3b3d49;
// var(--text-canari) : #f86af8;


// var(--write) : #fffc;
// var(--text-canari) : #f86af8;
// var(--border-color): #4e475f;
// var(--body-background) : #2b253a;
// var(--section-background) : #28213a;
// var(--body-darker): #1a1528;


// $write : #fffc;
// $text-canari : #6af8d5;
// $border-color: #5a5a5a;
// $body-background: #3a3a3a;
// $section-background : #2c2c2c;
// $body-darker: #1a1a1a;

