$font-primary:'Roboto',sans-serif;
$font-primary-light:'Roboto Light',sans-serif;
$font-secondary:'GTWalsheim Medium', sans-serif;

$section-height-large : 50vw;
$section-height-medium : 46vw;
$section-height : 48vw;
$section-height-small : 36vw;
$section-height-mini : 26vw;
$cards-height : 16vw;
$section-height-tiny : 11.25vw;
$navigation-height : 6vw;
$social-media-height : 2.8vw;

